
body {
        font-family: Arial, Helvetica, Verdana, sans-serif;
        background-color: #EEE;
}

/* site-wide default style for hypertext links */
a {
        text-decoration: none;
        color: #006699;
}

a:hover {
        text-decoration: underline;
}

/* site-wide default image style */
img {
/*      display: block;  */
        border: none;
}

/* default site-wide settings for heading text */
h1 { 
        font-size: 140%; 
}

h2 { 
        font-size: 130%; 
}

h3 { 
        font-size: 120%; 
}

h4 { 
        font-size: 110%; 
}


.clear {
        clear: both;
        height: 1px;
}

.clear_right {
clear:right;
}

.clear_left {
clear:left;
}


/* a class for navigating and presentation on text browsers */
.textvers {
        display: none;
}

/* a class to highlight important text */
.alert {
        clear: both;
        width: 100%;
        height: 1.5em;
        text-align: center;
        color: red;
        font-size: 120%;
        font-weight: bold;
        margin: 0em;
        padding: 0.5em 0em 0em 0em;
}

/* system maintenance notice */
.notice {
        font-size: 80%;
}

/* default URL style, using the italic form of the browser's font */
.url {
        font-style: italic;
}

/* A div which contains everything on the page. This was needed when */
/* developing the site layout. Might be unnecessary in the future.   */
#container {
        border: solid 1px #bbb;
        margin: 5px;
        overflow-y: hidden;
}       

/* the top horizontal section of content, containing the minor and  */
/* major headers.                                                   */
#banner {
        height: auto;
        border-bottom: solid 1px #006699;
}

#minor_header {
        background-color: #006699;
        color: white;
        white-space: nowrap;
        font-size: 90%;
        font-weight: bold;
        padding: 0.4em 0.2em 0.3em 0.5em;
        height: auto;
        border-bottom: solid 1px #000066; 
        text-align: left;
}

#minor_header a {
        color: white;
}

/* This makes up most of the banner content. Includes the NOAA/ESRL */
/* logos and search elements.                                       */
#major_header {
        clear: both;
        height: auto;
        min-height: 85px;
        width: auto;
        background: url(${urlroot}/images/globe_top.png);
        background-color:#030361;
        background-repeat: no-repeat;
        padding-right: 2em;
}

#major_header img {
        clear: none;
        float: left;
        border: none;
}

#search {
        clear: none;
        float: right;
        width: 13em; 
        font-weight: bold;
        font-size: 80%;
        color: white;
        white-space: nowrap;
        background-color: transparent;
        padding: 10px 40px 5px 5px;     
        
}

#search a {
        color: white;
}

#search input {
        font-size: 80%;
}


/* the major site navigation elements, currently styled in a horizontal bar  */
#major_nav {
        clear: both;
        border-top: solid 1px #000066; 
        border-bottom: solid 1px #006699;
        background-color: #FFFFCC;
        color: #000066;
        padding:3px;
}

#major_nav a {
   color:#000066;
}




.breadcrumbs {
   margin-left:4px;
}
.link {
font-size:90%;
font-weight:bold;
color:black
}

.title {
   font-weight:bold;
   color:#000066;
}

.title a {
   color:#000066;
}


/* the page footer */
#footer {
        clear: both;
        font-size: 80%;
        background: #000066 url(${urlroot}/images/gradient.gif) top left repeat-y;
        color: white;
        padding: 1.0em 0.7em 0.6em 0.7em;
        margin: 0em;
        line-height: 1.3em;
        width: auto;
        height: 4em;
        border: none;
        box-sizing: content-box;
}

#footer a {
        color: white;
}

/* a div containing links to the organizations shown in the footer. */
#orgs {
        float: left;
        text-align: left;
        padding: 0em 0.2em 0em 0em;
}

/* a div containing policy-type links shown in the footer. */
#policies {
        clear: none;
        float: right;
        text-align: right;
}
