/* override PSD & RAMADDA defaults */

/* Override bootstrap box stuff */
/* RAMADDA defaults to black, underlined links */
a {
  color:  #337ab7; 
  text-decoration: none;
}

i.fab {
  color: #fff
}

