/* override PSD & RAMADDA defaults */

/* Override bootstrap box stuff */
/* RAMADDA defaults to black, underlined links */
a {
  color:  #337ab7; 
  text-decoration: none;
}

.ui-widget-content a {
  color:  #337ab7; 
  text-decoration: none;
}

i.fab {
  color: #fff
}

i.fa-search {
  color: #fff
}


/* make jQuery accordian look like BootStrap */
.ui-accordion .ui-accordion-content {
  border:1px solid #ddd; 
  border-top: 0px;
  padding:15px;
  border-radius: 0 0 4px 4px;
}

.ui-accordion .ui-accordion-header {
  border-radius: 3px;
  margin:5px 0 0 0;
  background:#F7F7F7;
  padding-left:15px;
  border:1px solid #ddd;
}

.ui-accordion-header-icon {
  display:none;
}
