#
#This is a template file for definining a RAMADDA service on CentOS
#

#Replace the <INSTALL_DIR> paths below with where you have the standalone RAMADDA installed
#and copy this file to /etc/systemd/system/

#run this to load
#systemctl daemon-reload

#To start RAMADDA do:
#systemctl start ramadda

#To stop:
#systemctl stop ramadda

[Unit]
Description=RAMADDA

[Service]
ExecStart=/usr/bin/sh <INSTALL DIR>/ramaddaserver/ramaddaService.sh start wait
ExecStop=/user/bin/sh <INSTALL DIR>/ramaddaserver/ramaddaService.sh stop
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=ramadda
User=root

[Install]
WantedBy=multi-user.target
