<!DOCTYPE html>
<html><head><title>${title}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="shortcut icon" type="image/png" href="${cdnpath}/favicon.png"/>
<properties>
name=Map Header Gray
id=mapheadergray
</properties>
${imports}
${headfinal}
<link href="${cdnpath}/fixedmapheader.css"  rel="stylesheet"  type="text/css" />
<style type='text/css'>
.ramadda-innercontent {padding-top: 0px;margin: 0px;min-height:800px;margin:0px;background-color:#F0F2F5;}
.dbtable, .db_iterate_block, .display-contents:not(:empty) {border:1px solid #cfcfcf;background:#fff;border-radius: var(--default-radius);}
.display-simplesearch-contents:not(:empty), .display-animation-contents:not(:empty),.display-menu-contents:not(:empty), .display-legend-contents:not(:empty),.display-download-contents:not(:empty), .display-blank-contents:not(:empty),.display-reloader-contents:not(:empty), .display-filter-contents:not(:empty), .display-fieldslist-contents:not(:empty), .display-htmltable-contents:not(:empty), .display-template-contents:not(:empty), .display-editablemap-contents:not(:empty){
background:transparent;border:0px solid transparent;    
}
</style></head>
<body>
<div class="ramadda-header">
<div class="ramadda-header-center"></div>
<table width="100%"><tr valign="bottom">
<td width="5%"><a href="${logo.url}"><img valign="bottom" class="ramadda-logo-image"  src="${logo.image}" ></a></td>
<td>${entry.header}</td>
<td width=5% align=right><div style='overflow-x:auto;white-space:nowrap;'>${links}</div></td>
</table></div>
<div class="ramadda-outercontents">
<div class="ramadda-innercontent">
${content}
</div></div> 
<div class="ramadda-footer">
${footer}
${footer.acknowledgement}  
</div>
${bottom}
</body></html>
