

.ramadda-annotation-wrapper {
}

.ramadda-annotation-bar {
}

.ramadda-annotation-bar-top {
    display: flex;
    align-items: stretch;
}

.ramadda-annotation-bar-side {
}


.ramadda-annotation {
    border-bottom:1px solid #ccc;
    max-width:100%;
    vertical-align: top;
    overflow-x:hidden;    
    padding-left:5px;
    padding-right:5px;

}

.ramadda-annotation-top {
    display:inline-block;
    flex: 0 0 auto;
    border:var(--basic-border);
    max-width:300px;
    overflow-x:hidden;
    white-space: normal;   /* allow wrapping */
    word-wrap: break-word;
}


.ramadda-annotation-body {
    max-height:80px;
    overflow-y:auto;
}


.a9s-annotationlayer .a9s-annotation .a9s-outer, 
.a9s-annotationlayer .a9s-selection .a9s-outer {
    stroke-width:0px;
    stroke:#000;  
}

.a9s-annotationlayer .a9s-annotation .a9s-inner,
.a9s-annotationlayer .a9s-selection .a9s-inner {
    stroke-width:4px;
    stroke:#888 !important;      
}

.ramadda-annotated-image>div {
    width:100%;
}

.a9s-toolbar-btn.active svg rect,.a9s-toolbar-btn.active svg circle,.a9s-toolbar-btn.active svg path {
    stroke:#000 !important;
}

.a9s-toolbar-btn svg rect,.a9s-toolbar-btn svg circle,.a9s-toolbar-btn svg path {
    stroke:#aaa !important;
}


.a9s-annotationlayer circle.a9s-handle-inner {
    display:none;
}

.a9s-annotationlayer .a9s-annotation.editable .a9s-inner:hover {
    fill:transparent;
}


.a9s-annotationlayer .a9s-annotation:hover .a9s-inner  {stroke:yellow !important;}


.a9s-toolbar-btn {
    height:35px;
}

/** orginal from the shape-label plugin:
https://github.com/recogito/recogito-client-plugins/blob/main/plugins/annotorious-shape-labels
*/

.a9s-annotationlayer .a9s-formatter-el,
.a9s-annotationlayer .a9s-formatter-el foreignObject {
  overflow:visible;
  pointer-events:none;
}

.a9s-annotationlayer .a9s-formatter-el foreignObject .a9s-shape-label-wrapper {
  position:relative;
  transform:translateY(-100%);
  padding-bottom:4px;
}

.a9s-annotationlayer .a9s-formatter-el foreignObject .a9s-shape-label-wrapper .a9s-shape-label {
  display:table;
  padding:2px 4px;
  white-space:nowrap;
  background-color:rgba(255, 255, 255, 0.85);
  border-radius:4px;
  font-size:14px;
}
