
.ramadda-media-points {
    max-height:400px;
    overflow-y:auto;
}

.ramadda-media-point {
}
    
.ramadda-media-point-details {
    margin-left:20px;
}

.ramadda-media-annotations {
    padding-left:20px;
}

.ramadda-media-player {
}

.ramadda-media-point-header {
    padding-top:2px;
    padding-bottom:2px;    
}
.ramadda-media-point-details-inner {
    background: #F0F8FF;
    padding:5px;
    padding-left:10px;
    border-bottom:var(--basic-border);
}

.ramadda-media-search {
}


.ramadda-media-point-inplay {
    background:#E0FFFF;
}


.ramadda-media-point-edit, .ramadda-media-point-delete {
    margin-right:10px;
}

.ramadda-video-embed {
    /*border:1px #ccc solid;*/
}
