body{

	background-color: #B5B5B5;

}



td,p{

	font-family: 'trebuchet ms' helvetica sans-serif;

	font-size: 12px;

	font-style: normal;

	font-variant: normal;

	font-weight: normal;

}



.bodyTable{

	background-color: #FFFFFF;

}



.vform

{

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 10px;

	font-style: normal;

	color: #333366;

	background-color: #FFFACD;

	border-bottom: #6666CC 1px solid;

	border-left: #6666CC 1px solid;

	border-right: #6666CC 1px solid;

	border-top: #6666CC 1px solid;

	font-weight : normal;

}



.bannerTable{

	background-image: url(banner_bckgrd.jpg);

	background-position: top;

	background-repeat: repeat-x;

	height: 110px;

}



.topNavTable{

	height: 25px;

	background-image: url(topnav_bckgrd.jpg);

	background-position: top;

	background-repeat: repeat-x;

}



.topNav{

	padding-bottom: 2px;

	padding-left: 0px;

	padding-right: 0px;

	padding-top: 4px;

}



.contentRow{

	/*background-image: url(../images/nav_bckgrd.jpg);*/

	background-position: left,top;

	background-repeat: no-repeat;

}



.content{

	margin-bottom: 0px;

	margin-left: 0px;

	margin-right: 0px;

	margin-top: 0px;

	padding-bottom: 10px;

	padding-left: 0px;

	padding-right: 0px;

	padding-top: 10px;

}



.navigationCell{

	margin-bottom: 0px;

	margin-left: 0px;

	margin-right: 0px;

	margin-top: 0px;

	padding-bottom: 10px;

	padding-left: 0px;

	padding-right: 0px;

	padding-top: 0px;

}



.colSepr{

	padding-top: 10px;

}



.more{

	font-weight: bold;

}



.footerTable{

	height: 30px;

	background-image: url(../images/footer_one_bckgrd.jpg);

	background-position: top;

	background-repeat: repeat-x;

	background-color: #EDEFD9;

}



.footerCellBackground{

	height: 40px;

	background-image: url(../images/footer_two_bckgrd.jpg);

	background-position: top;

	background-repeat: repeat-x;

	background-color: #DEE0C6;

}



.header1{

	padding-bottom: 3px;

	color: Black;

	font-size: 16px;

	font-weight: bold;

}



.header2{

	padding-bottom: 3px;

	color: Black;

	font-size: 16px;

	font-weight: bold;

}



.header3{

	padding-bottom: 3px;

	color: Black;

	font-size: 14px;

	font-weight: bold;

}



.header4{

	padding-bottom: 3px;

	color: Black;

	font-size: 14px;

	font-weight: bold;

}



/**********************************************/

/*SEARCH FORMAT*/

/***********************************************/

.formFormat{

	margin-bottom: 0px;

	margin-left: 0px;

	margin-right: 0px;

	margin-top: 0px;

	padding-bottom: 0px;

	padding-left: 0px;

	padding-right: 0px;

	padding-top: 4px;

}



.searchBox{

	font-size: 11px;

	border: 1px solid #d6d295;

}



.searchGo{

	font-size: 11px;

	font-weight: bold;

	color: #004986;

	border: 1px solid #d6d295;

}



/**********************************************/

/*EMAIL LOGIN FORMAT*/

/***********************************************/

.loginFormat{

	margin-bottom: 0px;

	margin-left: 0px;

	margin-right: 0px;

	margin-top: 0px;

	padding-bottom: 0px;

	padding-left: 0px;

	padding-right: 0px;

	padding-top: 0px;

}



.loginBox{

	font-size: 11px;

	border: 1px solid #d6d295;

}



.loginGo{

	font-size: 11px;

	font-weight: bold;

	color: #004986;

	border: 1px solid #d6d295;

}



/************************************************/  

/*NAVIGATION STYLES*/

/************************************************/

/* Navigation Link */

a.NavigationLink:link{

	color: #004986;

	text-decoration: none;

}



a.NavigationLink:active{

	color: #cc0000;

	text-decoration: none;

}



a.NavigationLink:hover{

	color: #cc0000;

	text-decoration: underline;

}



a.NavigationLink:visited{

	text-decoration: none;

}



/* Navigation - whole */

.EnclosureBox{

	width: 170px;

	background-image: url(../images/nav_line.gif);

	background-position: top;

	background-repeat: repeat-y;

}



/* Navigation - SECTION */

.SectionEnclosureBox{

}



.SectionOnBox{

	font-weight: bold;

	font-family: 'trebuchet ms' helvetica sans-serif;

	color: #cc0000;

	padding-left: 15px;

	background-image: url(../images/on_button.gif);

	background-position: left,top;

	background-repeat: no-repeat;

	padding-bottom: 1px;

	padding-top: 1px;

}



.SectionOffBox{

	padding-left: 15px;

	background-image: url(../images/off_button.gif);

	background-position: left,top;

	background-repeat: no-repeat;

	padding-bottom: 1px;

	padding-top: 1px;

}



/* Navigation - SUB SECTION */

.SubSectionEnclosureBox{

}



.SubSectionOnBox{

	font-weight: bold;

	text-decoration: none;

	padding-left: 10px;

	padding-bottom: 1px;

	padding-top: 1px;

	border-bottom: 1px solid #d6d295;

	border-left: 1px solid #d6d295;

	border-right: 1px solid #d6d295;

	border-top: 1px solid #d6d295;

	margin-top: 2px;

	margin-left: 12px;

	background-color: White;

}



.SubSectionOffBox{

	padding-left: 10px;

	padding-top: 1px;

	padding-bottom: 1px;

	border-bottom: 1px solid #d6d295;

	border-left: 1px solid #d6d295;

	border-right: 1px solid #d6d295;

	border-top: 1px solid #d6d295;

	margin-top: 2px;

	margin-left: 12px;

	background-color: White;

}



a:link{

	text-decoration: none;

	color: #004986;

}



a:active {

	text-decoration: none;

	color: #004986;

}



a:hover {

	text-decoration: underline;

	color: #cc0000;

}



a:visited {

	text-decoration: none;

	color: #004986;

}



/* Navigation - SUB SUB SECTION */

.SubSubSectionOnBox{

	padding: 2px;

	margin-left: 40px;

	margin-right: 10px;

	color: #cc0000;

	font-weight: bold;

	text-decoration: none;

}



.SubSubSectionOffBox{

}



.SubSubSectionEnclosureBox{

}



h2{

	font-size: 14px;

	font-weight: bold;

}



li{

	font-size: 12px;

}



.copyRight{

	padding-top: 10px;

}



