
.cv-main {
    border:var(--basic-border);
    border-top:0px;
}

.cv-top {
    border-bottom:0px;
    padding:4px;
}

.cv-header {
    border-bottom:var(--basic-border);

}

.cv-menubar {
    display:flex;
    align-items: center;
    position:relative;
    width:100%;
    padding:0px;
    padding-top:0px;
    padding-left:8px;
    padding-right:8px;
    border-bottom:var(--basic-border);
    height:35px;
    vertical-align:center;
}

.cv-menubar-divider {
    margin-right:3px;
    margin-left:3px;    
    width:1px;
    min-width:1px;
    height:100%;
    display: inline-block;
    border-right:var(--basic-border);
}


.cv-message {
    margin-left:10px;
    background: var(--color-mellow-yellow);
    display:inline-block;
    padding-left:5px;
    padding-right:5px;        
}

.cv-collections {
    padding:4px;
    width:100%;
    border-left:var(--basic-border);
    border-right:var(--basic-border);
}

.cv-displays {
    display:flex;
    flex-wrap:nowrap;
    max-width:400px;
    overflow-x:auto;
}

.cv-gallery-collection {
    margin-top:5px;
    border-top:var(--basic-border);
    padding:10px;
}

.cv-displaysbar {
    padding:5px;
    margin-top:40px;
}

.cv-menubar span i, .cv-displaysbar span i {
    font-size:14pt;
}

.cv-canvas {
    //border-top:var(--basic-border);
}

.cv-toolbar-button {
    display:inline-block;
    text-align:center;
    padding-right:2px;
    padding-left:2px;    
    margin-right:1px;
    min-width:20px;
    border:1px solid transparent;
}

.cv-toolbar-button:hover {
    border:1px solid #ccc;
}

.cv-sortable-placeholder {
    background: #ccc;
    border: 2px dashed #666;
    border-radius: 6px;
    visibility: visible !important;
}
