
.cv-main {
    border:var(--basic-border);
    border-top:0px;
}

.cv-top {
    border-bottom:0px;
    padding:4px;
}

.cv-menubar {
    border:var(--basic-border);
    padding:5px;
}

.cv-displays {
    display:flex;
    flex-wrap:nowrap;
}



.cv-displaysbar {
    padding:5px;
}

.cv-menubar span i, .cv-displaysbar span i {
    font-size:14pt;
}

.cv-canvas {
    //border-top:var(--basic-border);
}
