.missing-status-missing {
    background:rgba(255, 0, 0, 0.5);
}

.missing-status-found {
    background:#f0fff0;
}
.missing-status-died {
    background:#ccc;
}
.missing-header {}
.missing-header a {
    text-decoration:none;
}
.missing-header1 {
    font-size:120%;font-weight:bold;
}
.display-entrylist-content .missing-header1 {
    font-size:12pt;font-weight:plain;
}

.missing-block {
    border:1px solid #aaa;
    margin:5px;
    margin-top:10px;
    padding:8px;
    display:inline-block;
}

.missing-sub-header {
    font-weight:bold;
}
