

.missing-status-missing {
    background:rgba(255, 0, 0,0.2);
}

.missing-status-found {
    background:rgba(0,255,0,0.2);    
}
.missing-status-died {
    background:rgba(200,200,200,0.2);    
}

.missing-header1 a, .missing-header a {
    text-decoration:none;
}

.missing-header {
}

.missing-header1 {
    font-size:120%;font-weight:bold;
}

.missing-block {
    border:1px solid #aaa;
    margin:5px;
    margin-top:10px;
    padding:5px;
    display:inline-block;
    vertical-align:top;
}

.missing-sub-header {
    font-weight:bold;
}

.display-entrylist-content .missing-header1 {
    font-size:12pt;font-weight:plain;
}
.display-entrylist-content .missing-header  {
    border-bottom:2px solid #ccc;
    border-bottom:1px solid #000;    
    margin-bottom:4px;
    padding-left:4px;
}
