

.missing-status-missing {
    background:rgba(255, 0, 0,0.2);
}

.missing-status-found {
    background:rgba(0,255,0,0.2);    
}
.missing-status-died {
    background:rgba(200,200,200,0.2);    
}

.missing-header1 a, .missing-header a {
    text-decoration:none;
}

.ramadda-search-results .missing-header:hover {
    background:#f8f8f8;
}

.missing-header .toggleblocklabel {
    font-weight:normal;
}

.missing-header1 {
    font-size:120%;
    font-weight:bold;
}

.missing-block {
    border:1px solid #aaa;
    margin:5px;
    margin-top:10px;
    padding:5px;
    display:inline-block;
    vertical-align:top;
}

.missing-sub-header {
    font-weight:bold;
}

.display-entrylist-content .missing-header1 {
    font-size:12pt;
    font-weight:normal;
}

.ramadda-search-entrylist .missing-header, .display-entrylist-content .missing-header  {
    border-bottom:2px solid #ccc;
    border-bottom:1px solid #000;    
    margin-bottom:4px;
    padding-left:4px;
}


.missing-flyer {
    font-size:14pt;
    margin:10px;
}    

.missing-flyer-header {
    text-align:center;
    font-size:20pt;
    margin-bottom:10px;
}


.missing-flyer-title {
    color:red;
    font-size:60pt;
}

.missing-flyer-name {
    color:red;
}

.missing-flyer-image {
    width:90%;
    text-align:center;
}

.missing-flyer-circumstances {
    margin-left:40px;
    margin-right:40px;    
}


@media print {
  @page {
    size: auto; /* auto is default value */
    margin: 0; /* zero out the margins */
  }
}

.missing-flyer-footer {
    display:none;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}

@media print {
    .missing-flyer-photos  {
    }
    .missing-flyer-photos img {
	width: 300px;
    }
    .image-outer {
	border:0px;
	box-shadow: 0px;
    }
    .missing-flyer-footer {
    display:block;
    bottom:10px;
    position:absolute;
    left:50%;
    transform: translateX(-50%);
}


}

.missing-page-break {
    page-break-before: always; /* Forces a page break before the element */
}
