:root {
    --header-height:80px;
}

.ramadda-header {
   z-index:900;
   position:fixed;
   padding: 1px;
   padding-left: 6px;
   padding-right: 6px;
   height:var(--header-height);
   width:100%;
   left:0px;
   top:0px;
}



.ramadda-header-floating .ramadda-navbar, .ramadda-header .ramadda-navbar {
    background:#fff;
    border-radius:var(--default-radius);
    margin:4px;
    padding:2px;
    padding-left:6px;
    padding-right:6px;        
    border:var(--basic-border);
}

.ramadda-header .ramadda-navbar:hover {
    border  :var(--highlight-border);
}

.ramadda-header-center {
    position: absolute;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    font-size:125%;
    max-width:50%;
    overflow-x:hidden;
    white-space:nowrap; 
}
.ramadda-header-center a {
    text-decoration:none !important;
}
.ramadda-header-fixedtitle a {
    text-decoration:none;
    font-size:200%

}
.ramadda-header-fixedtitle  {
    position:absolute;top:4px;left:50%;transform: translateX(-50%);
}

.ramadda-pageheader {
    position:absolute;
    top:4px;
    right:8px;
    font-size:80%;
}
.ramadda-breadcrumbs {
    border-bottom : 0px transparent;
}
.ramadda-logo-image {
    height:50px;
}

.ramadda-outercontents {
    padding-top:var(--header-height);
}

.ramadda-system-message {
    padding-top:var(--header-height);
}

/* this is for the left side navigation */
.ramadda-nav-left {
    top:var(--header-height);
}

