
.ramadda-map-bubble .ramadda-map-header {
    text-align:center;
    font-size:120%;
    font-weight:bold;
}



.ramadda-map-message {
    position:absolute;
    top:10px;
    left:100px;
    background:#FFFEEC;
    z-index:1000;
    border:var(--basic-border);
    padding:5px;
}

.ramadda-map-features .ramadda-map-feature {
    border-bottom:var(--basic-border);
    max-height:100px;
    overflow-y:auto;
}

.ramadda-map-features .ramadda-map-feature:hover {
    background:var(--highlight-background);
    text-decoration:none;
}

/* Add this so when we show a graticule it doesn't pick up the mouse clicks */
.olLayerDiv canvas {
    pointer-events:none;
}

.olLayerGoogleCopyright {
/*jeffmc: use display:none to fix the mouse controls not responding
    top:-1000px;
    display: none;
*/
}

.olControlOverviewMapElement {
    padding:0px;
    border:1px solid #aaa;
    background-color:#ccc; 
}


.olControlAttribution {
    bottom: 0px;
} 

div.olControlMousePosition {
 font-size: 1em;
 font-weight:bold;
}

.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint {
   visibility:hidden;
}


.olAlphaImg {
    cursor: pointer;
}

.olControlLayerSwitcher  {
    
}

.olControlLayerSwitcher .layersDiv {
    padding-left:0px;
    padding-right:0px;    
    background:#fff !important;
    border:1px solid #aaa;
    color: #000;
    border-radius:var(--default-radius);    
}

.baseLayersDiv {
    border-bottom:1px solid #000;
}

