
.olLayerGoogleCopyright {
//jeffmc: use display:none to fix the mouse controls not responding
//    top:-1000px;
//    display: none;
}

.olControlAttribution {
    bottom: 0px;
} 

div.olControlMousePosition {
 font-size: 1em;
 font-weight:bold;
}

.olLayerGooglePoweredBy.olLayerGoogleV3.gmnoprint {
   visibility:hidden;
}


